<article class="container">

  <div class="card mt-2 d-flex ">

      <div class="row">
          <img class="card-img-top col-12" [src]="profile.coverPicture" alt="Foto de portada">
          <div class="position-relative mb-5 col-12">
              <img [src]="profile.profilePicture" alt="Foto Perfil" class="rounded-circle   position-absolute top-50 start-0 translate-middle-y ms-4 border border-3 p-0 " style="width: 10rem;">
          </div>
      </div>

      <div class="row pt-4 m-2 d-flex align-items-center">

          <div class="col-12 col-md-9 pb-2">
              <div class="row">
                  <h1>{{profile.name}}</h1>
                  <p class="col-12 m-0"> {{profile.description}}</p>
              </div>

          </div>


          <div class="col-12 pe-4 ps-4">
              <div class="row">
                  <button type="button" class="btn btn-primary col-12 col-md-3  mt-1 mb-1 me-1">Tengo interés en</button>
                  <button type="button" class="btn btn-secondary col-12 col-md-3 mt-1 mb-1 me-1">Agregar sección</button>
                  <button type="button" class="btn btn-secondary col-12 col-md-3  mt-1 mb-1 me-1">Más</button>

              </div>



          </div>



      </div>
  </div>
</article>

<article class="container">

  <div class="card mt-2 d-flex pe-2 ps-2">
      <div class="row  m-3 pt-2 d-flex align-items-center ">
          <div class="col-10  m-0 p-0 ">
              <h3 class="p-0 m-0">Acerca de</h3>
          </div>
          <div class="col-2   p-0 d-flex justify-content-end ">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
         </div>
      </div>

      <div class="row  me-2 ms-2 pe-2 ps-2">
          <div class="col-12 p-0 d-flex ">
              <p>{{profile.about}}</p>
          </div>
      </div>
  </div>

</article>
