<header class="container-fluid p-0">

  <nav class="row container-fluid d-flex m-0 p-2 bg-primary  " >
      <div class="col-12 col-md-4 p-2 ">
          <a class=" text-light text-decoration-none d-flex justify-content-center justify-content-md-start align-items-center " href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
              <img src="./assets/images/APLogo-20-20.png" alt="Logo Argentina Programa" width="120">
              <span class="ps-4 fw-bold ">#YoProgramo</span>
          </a>
      </div>
      <div class="col-12 col-md-4 text-light d-flex justify-content-center align-items-center">
          <span class="fs-5 fw-light">  </span>
      </div>
      <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end align-items-center p-2">

        <app-social-media-list></app-social-media-list>

        <button type="button" class="btn btn-secondary ms-2">Login</button>

      </div>

  </nav>

</header>
